app = "insomnia-backend"

primary_region = "sin"

[build]
  builder = "paketobuildpacks/builder:python"

[env]
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

[processes]
  app = "python server.py"